*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

header{
  background-color: #FFF176;
  height: 3rem;
  display: flex;
  align-items: center;
  align-content: center;
  box-shadow: 0 2px 6px -1px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 2px 6px -1px rgba(0,0,0,.5);
  -moz-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  width: 100%;

}
header nav{
  margin-left: 1rem;  
}
header nav ul{
  display: inline-flex;
  gap: 1rem;
}
ul li{list-style: none;}
ul li a{text-decoration: none; font-weight: bold; padding: 0.5rem; border-radius: 0.5rem;}
ul li a:hover{background-color: #FDD835;}
ul li a:active{color: black;}
.w-100{width: 100%;}
.m-1{margin: 1rem}
.mt-1{margin-top: 1rem;}
.mt-3{margin-top: 3rem;}
.mt-7{margin-top: 7rem;}
.p-1{padding: 1rem}
.p-05{padding: 0.5rem}
.gap-1{gap: 1rem;}
.d-flex{display: flex;}
.flex-wrap{flex-wrap: wrap;}
.d-block{display: block;}
.justify-content-center{justify-content: center;}
.justify-content-between{justify-content: space-between;}
.justify-content-end{justify-content: end;}
.align-items-center{align-items: center;}
.align-content-center{align-content: center;}
.center-all{display: flex;justify-content: center; align-items: center; align-content: center;}
main{height: 100vh;}
.input{font-size: 1rem; width: 100%; margin: 1rem 0 1rem 0; border-radius: 0.25rem; border: none;}
button[type="submit"]{font-size: 1.25rem;}
h1{text-align: center;}
form{
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #FFF9C4;
  border: solid 1px #CFD8DC;
}
.login{ max-width: 20rem; }
.btn{
  all: unset;
  border-radius: 0.4rem;
  padding: 0.4rem 0.2rem 0.4rem 0.2rem;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}
.btn-sm{font-size: 0.7rem; padding: 0.15rem;}
.btn:hover{
  filter: saturate(1.25);
}
.btn:active{
  transform: scale(1.05);
}
.bg-orange{
  background-color: #EF6C00;
}
.bg-dark{background-color: #212121;}
.active{background-color: #FDD835;}
.card{
  background-color: #FFF59D;
  margin-top: 1rem;
  max-width: 14rem;
  height: 10rem;
  box-shadow: 2px 2px 4px 0px #bdbdbd;
-webkit-box-shadow: 2px 2px 4px 0px #bdbdbd;
-moz-box-shadow: 2px 2px 4px 0px #bdbdbd;
}
.new-card{
  background-color: #CFD8DC;
  margin-top: 1rem;
  width: 10rem!important;
  height: 10rem!important;
  box-shadow: 2px 2px 4px 0px #bdbdbd;
-webkit-box-shadow: 2px 2px 4px 0px #bdbdbd;
-moz-box-shadow: 2px 2px 4px 0px #bdbdbd;
}
.card-title::first-letter{
  text-transform: uppercase;
}
.form{
  min-width: 20rem;
  max-width: 40rem;
}
textarea{
  border: none;
  width: 100%;
}
.select{
  font-size: 1.2rem;
  border: none;
  margin: 0 0.4rem 0 0.4rem;
  border: 0.2rem solid #FFB74D;
  border-radius: 0.3rem;
}
.loading{
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*@media only screen and (min-width: 576px) and (max-width: 767px) {
  body, main{
      background-color: red;
  }
}*/
@media only screen and (max-width: 767px) {
  .full{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card{
      max-width: 100%;
      width: 100%!important;
  }
}